:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-barlow: Barlow;
  --font-quicksand: Quicksand;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-alegreya: Alegreya;
  --font-source-code-pro: "Source Code Pro";

  /* font sizes */
  --font-size-6xs: 9px;
  --font-size-5xs: 10px;
  --font-size-4xs: 11px;
  --font-size-3xs: 12px;
  --font-size-2xs: 13px;
  --font-size-xs: 14px;
  --font-size-sm: 15px;
  --font-size-base: 16px;
  --font-size-lg: 16.5px;
  --font-size-xl: 17px;
  --font-size-2xl: 18px;
  --font-size-3xl: 20px;
  --font-size-4xl: 21px;
  --font-size-5xl: 22px;
  --font-size-6xl: 24px;
  --font-size-7xl: 24.75px;
  --font-size-8xl: 25px;
  --font-size-9xl: 28px;
  --font-size-10xl: 29px;
  --font-size-11xl: 30px;
  --font-size-12xl: 32px;
  --font-size-13xl: 33px;
  --font-size-14xl: 35px;
  --font-size-15xl: 36px;
  --font-size-16xl: 38.82px;
  --font-size-17xl: 41.25px;
  --font-size-18xl: 53.44px;
  --font-size-19xl: 54px;
  --font-size-20xl: 55px;
  --font-size-21xl: 60px;
  --font-size-22xl: 97.04px;

  /* Colors */
  --white: #fff;
  --studio-darkmode-maincta-457eff: #23454f;
  --color-black: #000;
  --color-gray-100: #fefefe;
  --color-gray-200: #fffcf8;
  --color-gray-300: #f4f6fa;
  --color-gray-400: #feefea;
  --color-gray-500: #f2f3f4;
  --color-gray-600: #eaeaea;
  --color-gray-700: #d9d9d9;
  --grey: #adadad;
  --color-gray-900: #8e8e8e;
  --color-gray-1000: #838383;
  --color-gray-1100: #7f7f7f;
  --color-gray-1200: #7a7a7a;
  --color-gray-1300: #787878;
  --color-gray-1400: #767676;
  --studio-darkmode-popuplabels-5e6a86: #5e6a86;
  --studio-darkmode-explainertext-485269: #485269;
  --color-gray-1700: #40495e;
  --color-gray-1800: #3e3a3a;
  --black: #253d4e;
  --color-gray-2000: #163138;
  --color-gray-2100: #242323;
  --color-gray-2200: #191919;
  --color-gray-2300: rgba(242, 243, 244, 0.5);
  --color-gray-2400: rgba(173, 173, 173, 0.25);
  --color-gray-2500: rgba(255, 255, 255, 0.92);
  --color-gray-2600: rgba(255, 255, 255, 0.16);
  --color-turquoise-100: #4fc786;
  --basegreen: #3bb77e;
  --green: #45b175;
  --lightgreen: #def9ec;
  --color-beige-200: rgba(197, 234, 217, 0.78);
  --color-brown-100: #f4596c;
  --color-brown-200: #eb5757;
  --color-brown-300: #f35244;
  --color-tan: #ffd480;
  --studio-darkmode-maincta-457eff: #457eff;
  --color-indigo-200: #6967da;
  --color-gold-100: #ebd96b;
  --color-gold-200: #e5c643;

  /* Gaps */
  --gap-15xs: 2px;
  --gap-14xs: 3px;
  --gap-13xs: 4px;
  --gap-12xs: 5px;
  --gap-11xs: 5.25px;
  --gap-10xs: 6px;
  --gap-9xs: 7px;
  --gap-8xs: 9px;
  --gap-7xs: 9.75px;
  --gap-6xs: 10px;
  --gap-5xs: 10.5px;
  --gap-4xs: 11px;
  --gap-3xs: 12px;
  --gap-2xs: 15px;
  --gap-xs: 16px;
  --gap-sm: 18px;
  --gap-md: 19px;
  --gap-lg: 20px;
  --gap-xl: 21px;
  --gap-2xl: 24px;
  --gap-3xl: 25px;
  --gap-4xl: 27px;
  --gap-5xl: 28px;
  --gap-6xl: 29px;
  --gap-7xl: 32px;
  --gap-8xl: 40.5px;
  --gap-9xl: 43px;
  --gap-10xl: 48px;
  --gap-11xl: 48.76px;
  --gap-12xl: 49px;
  --gap-13xl: 50px;
  --gap-14xl: 141.02px;

  /* Paddings */
  --padding-15xs: 2px;
  --padding-14xs: 5px;
  --padding-13xs: 6px;
  --padding-12xs: 7px;
  --padding-11xs: 8px;
  --padding-10xs: 10px;
  --padding-9xs: 11px;
  --padding-8xs: 12px;
  --padding-7xs: 14px;
  --padding-6xs: 15px;
  --padding-5xs: 17px;
  --padding-4xs: 19px;
  --padding-3xs: 20px;
  --padding-2xs: 26px;
  --padding-xs: 30px;
  --padding-sm: 33px;
  --padding-md: 35px;
  --padding-lg: 40px;
  --padding-xl: 44px;
  --padding-2xl: 47px;
  --padding-3xl: 48px;
  --padding-4xl: 55px;
  --padding-5xl: 60px;
  --padding-6xl: 75px;
  --padding-7xl: 78px;
  --padding-8xl: 80px;
  --padding-9xl: 89px;
  --padding-10xl: 110px;
  --padding-11xl: 111px;
  --padding-12xl: 120px;
  --padding-13xl: 200px;
  --padding-14xl: 341.2900085449219px;

  /* border radiuses */
  --br-8xs: 2px;
  --br-7xs: 3px;
  --br-6xs: 4px;
  --br-5xs: 5px;
  --br-4xs: 5.25px;
  --br-3xs: 5.77px;
  --br-2xs: 6px;
  --br-xs: 7.5px;
  --br-sm: 10px;
  --br-md: 11.25px;
  --br-lg: 13.32px;
  --br-xl: 14px;
  --br-2xl: 15.53px;
  --br-3xl: 15px;
  --br-4xl: 17.68px;
  --br-5xl: 37px;
  --br-6xl: 40px;
  --br-7xl: 1000px;
}
