body {
  margin: 0;
  line-height: normal;
}
.try-out-this-locofyai-demo-fi {
  position: absolute;
  top: 913.01px;
  left: 0;
  font-size: 116.45px;
  line-height: 155.26px;
  display: inline-block;
  color: #484f5e;
}
.we-took-a-popular-figma-design {
  position: absolute;
  top: 1079.25px;
  left: 10.43px;
  line-height: 56.28px;
  display: inline-block;
  width: 1529.46px;
}
.rectangle-div40 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--white);
  width: 360px;
  height: 304.71px;
}
.download-the-locofy-plugin-for {
  position: absolute;
  top: 187.18px;
  left: 64.54px;
  line-height: 35px;
  color: var(--studio-darkmode-popuplabels-5e6a86);
  display: inline-block;
  width: 230.92px;
  height: 87px;
}
.b1,
.get-locofy-plugin {
  position: absolute;
  top: 37.66px;
  left: 74.41px;
  font-size: var(--font-size-22xl);
  line-height: 97.04px;
  display: inline-block;
  width: 211.19px;
}
.get-locofy-plugin {
  top: 142.35px;
  left: 22.26px;
  font-size: var(--font-size-10xl);
  line-height: 42px;
  text-transform: uppercase;
  width: 315.49px;
}
.group-div48 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 304.71px;
}
.click-on-fitness-landing-page {
  position: absolute;
  top: 186.71px;
  left: 47.5px;
  line-height: 35px;
  color: var(--studio-darkmode-popuplabels-5e6a86);
  display: inline-block;
  width: 265px;
  height: 87px;
}
.preview-b {
  position: absolute;
  top: 145.18px;
  left: 44.79px;
  font-size: var(--font-size-10xl);
  line-height: 42px;
  text-transform: uppercase;
  display: inline-block;
  width: 270.42px;
}
.group-div49 {
  position: absolute;
  top: 0;
  left: 770px;
  width: 360px;
  height: 304.71px;
}
.play-with-the-app-using-the-pl {
  position: absolute;
  top: 187.18px;
  left: 54.66px;
  line-height: 35px;
  color: var(--studio-darkmode-popuplabels-5e6a86);
  display: inline-block;
  width: 250.67px;
  height: 87px;
}
.group-div50,
.group-div51,
.group-div52 {
  position: absolute;
  top: 0;
  left: 1155px;
  width: 360px;
  height: 304.71px;
}
.group-div51,
.group-div52 {
  left: 1540px;
}
.group-div52 {
  left: 1925px;
}
.create-a-web-project-react-h {
  position: absolute;
  top: 187.37px;
  left: 25.53px;
  line-height: 35px;
  color: var(--studio-darkmode-popuplabels-5e6a86);
  display: inline-block;
  width: 308px;
  height: 87px;
}
.create-project-b {
  position: absolute;
  top: 142.35px;
  left: 41.91px;
  font-size: var(--font-size-10xl);
  line-height: 42px;
  text-transform: uppercase;
  display: inline-block;
  width: 276.17px;
}
.group-div45,
.group-div46,
.group-div53 {
  position: absolute;
  top: 0;
  left: 385px;
  width: 360px;
  height: 304.71px;
}
.group-div45,
.group-div46 {
  left: 0;
  width: 2285px;
}
.group-div45 {
  top: 1671.64px;
  left: 17.47px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--studio-darkmode-maincta-457eff);
}
.to-experience-this-demo,
.total-time-5-to-7-minutes {
  position: absolute;
  line-height: 56.28px;
  display: inline-block;
  width: 1389.14px;
}
.to-experience-this-demo {
  top: 1583.01px;
  left: 17.47px;
  font-weight: 600;
}
.total-time-5-to-7-minutes {
  top: 0;
  left: 75.69px;
}
.group-icon29 {
  position: absolute;
  top: 0.31px;
  left: 0;
  width: 56.28px;
  height: 56.28px;
}
.group-div54,
.rectangle-div46 {
  position: absolute;
  top: 2012.9px;
  left: 17.47px;
  width: 1464.83px;
  height: 57px;
}
.rectangle-div46 {
  top: 0;
  left: 0;
  border-radius: 26.72px;
  background-color: var(--white);
  width: 2458.34px;
  height: 770.95px;
}
.locofy-logo-1 {
  position: absolute;
  top: 97.22px;
  left: 77.66px;
  width: 527.74px;
  height: 158.99px;
  object-fit: cover;
}
.group-9-icon,
.group-9-icon1 {
  position: absolute;
  height: 26.47%;
  width: 8.69%;
  top: 9.39%;
  right: 46.6%;
  bottom: 64.15%;
  left: 44.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.6;
}
.group-9-icon1 {
  height: 30.03%;
  width: 9.86%;
  top: 66.15%;
  right: 23.11%;
  bottom: 3.82%;
  left: 67.03%;
}
.import-span {
  color: var(--color-indigo-200);
}
.react-span {
  color: var(--color-turquoise-100);
}
.import-home-uicss,
.import-react-from-react {
  margin-block-start: 0;
  margin-block-end: 0;
}
.import-home-uicss {
  color: var(--color-turquoise-100);
}
.homeuiprops-span {
  color: var(--color-brown-100);
}
.const-span {
  color: var(--color-gray-1700);
}
.export-const-homeui-reactfun,
.header {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--color-brown-100);
}
.header {
  color: var(--color-indigo-200);
}
.div-classhome-ui-root-p {
  margin: 0;
}
.import-react-from-container {
  line-break: anywhere;
  width: 100%;
}
.group-div56,
.import-react-from-react-imp {
  position: absolute;
  width: 1050.18px;
  height: 480.97px;
}
.import-react-from-react-imp {
  top: 0;
  left: 0;
  line-height: 36.95px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.group-div56 {
  top: -216.82px;
  left: 1374.55px;
  opacity: 0.2;
  color: var(--color-gray-1700);
  font-family: var(--font-source-code-pro);
}
.plugin-mockup-icon {
  position: absolute;
  height: 145.55%;
  width: 22.24%;
  top: 20.98%;
  right: -2.14%;
  bottom: -66.53%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.7;
}
.get-locofy-plugin1 {
  position: absolute;
  top: 5.34px;
  left: 115.79px;
  text-decoration: underline;
  line-height: 77.95px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.icon-plugin {
  position: absolute;
  height: 100%;
  width: 16.53%;
  top: 0;
  right: 83.47%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div58 {
  position: relative;
  width: 538.79px;
  height: 89.07px;
  flex-shrink: 0;
}
.guides-a {
  position: absolute;
  top: 0;
  left: 115.97px;
  text-decoration: underline;
  line-height: 77.95px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.books-1-icon {
  position: absolute;
  height: 91.35%;
  width: 31.48%;
  top: 5.18%;
  right: 68.52%;
  bottom: 3.46%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div59 {
  position: relative;
  width: 282.97px;
  height: 78px;
  flex-shrink: 0;
}
.frame-div218 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 88.12px;
}
.group-div57 {
  position: absolute;
  top: 598.99px;
  left: 77.66px;
  width: 909.87px;
  height: 89.07px;
  font-size: var(--font-size-18xl);
  color: var(--studio-darkmode-maincta-457eff);
}
.ship-products-5x-faster-conv,
.turn-your-designs-into-product {
  position: absolute;
  top: 431.99px;
  left: 77.29px;
  font-size: 63.24px;
  line-height: 81.94px;
  display: inline-block;
  width: 2084.25px;
}
.turn-your-designs-into-product {
  top: 311.28px;
  left: 77.66px;
  font-size: 82.84px;
  line-height: 97.98px;
  font-family: var(--font-alegreya);
  width: 2086.13px;
}
.group-div55 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2458.34px;
  height: 770.95px;
  font-size: 24.64px;
}
.guide-guy-icon {
  position: absolute;
  top: 553.45px;
  left: calc(50% - -862.43px);
  width: 370.45px;
  height: 338.13px;
}
.group-icon30 {
  position: absolute;
  height: 36.72%;
  width: 27.54%;
  top: 31.64%;
  right: 33.59%;
  bottom: 31.64%;
  left: 38.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div47 {
  position: absolute;
  height: 82.15%;
  width: 82.15%;
  top: 9.51%;
  right: 9.28%;
  bottom: 8.33%;
  left: 8.56%;
  border-radius: 12px;
  border: 3px solid var(--studio-darkmode-maincta-457eff);
  box-sizing: border-box;
}
.video-div {
  position: relative;
  width: 64.69px;
  height: 64.69px;
  flex-shrink: 0;
  overflow: hidden;
}
.watch-video-figma-design-to-l {
  position: relative;
  text-decoration: underline;
  line-height: 56.62px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.frame-div220 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.group-div60,
.group-div61,
.group-div62 {
  position: relative;
  width: 975.69px;
  height: 64.69px;
  flex-shrink: 0;
}
.group-div61,
.group-div62 {
  width: 802.69px;
}
.group-div62 {
  width: 899.69px;
}
.frame-div219 {
  position: absolute;
  top: 1224.3px;
  left: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  color: var(--studio-darkmode-maincta-457eff);
}
.instructions-div {
  position: relative;
  width: 100%;
  height: 2069.9px;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--studio-darkmode-explainertext-485269);
  font-family: var(--font-roboto);
}
